<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>Flapper News</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
	<!-- Two-way data binding -->
	{{test}}

	<!-- uses orderBy filter to order posts by number of upvotes descending 
			 (hence the negative before upvotes) -->
	<div ng-repeat="post in posts | orderBy: '-upvotes'">
		{{post.title}} - upvotes: {{post.upvotes}}
	</div>
	
	<!-- upon click, calls the addPost() function to add a new post to the list -->
	<button ng-click="addPost()">Post</button>
</body>
</html>
