<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>Flapper News</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
	<!-- Two-way data binding -->
	{{test}}

	<!-- uses orderBy filter to order posts by number of upvotes descending 
			 (hence the negative before upvotes) -->
	<div ng-repeat="post in posts | orderBy: '-upvotes'">
		<span ng-click="incrementUpvotes(post)">^</span>

		<!-- Make it a link only if $scope.post.link is defined -->
		<a ng-show="post.link" href="{{post.link}}">
			{{post.title}}
		</a>
		<!-- Otherwise, if $scope.post.link is undefined, only display a span -->
		<!-- same as <span ng-show="!post.link"> -->
		<span ng-hide="post.link">
			{{post.title}}
		</span>
	  - upvotes: {{post.upvotes}}
	</div>

	<!-- Notes
		directives: ng-show (show elements when an Angular expression evaluates to true), 

								ng-hide (hides elements when an Angular expression evaluates to true)
	-->

	<!-- upon form submission, calls the addPost() function to 
			 add a new post to the list with the given title -->	
	<form ng-submit="addPost()">
		<!-- binds the input to the "title" variable ($scope.title) -->
		<input type="text" ng-model="title"><br>
		<input type="text" ng-model="link" placeholder="Link"><br>
		<button type="submit">Post</button>
	</form>
</body>
</html>
